<div class="app">
  <div class="section left-section">
    <button (click)="setWeather('słonecznie')">Słonecznie</button>
    <button (click)="setWeather('normalnie')">Normalnie</button>
    <button (click)="setWeather('deszczowo')">Deszczowo</button>
    <blockquote>
      <pre>
        <code>
if (pogoda === 'słonecznie') &#123;
  załóżOkularyPrzeciwsłoneczne()
&#125;

if (pogoda === 'deszczowo') &#123;
  zabierzParasol()
&#125;

if (pogoda === 'normalnie') &#123;
   nieZabierajNic()
&#125;
        </code>
      </pre>
    </blockquote>
  </div>
  <div class="section right-section">
    <img [src]="wybranyObrazek">
  </div>
</div>