<div class="app">
  <div class="section left-section">
    <button (click)="setWeather('sunny')">Słonecznie</button>
    <button (click)="setWeather('normal')">Normalnie</button>
    <button (click)="setWeather('rainy')">Deszczowo</button>
    <blockquote>
      <pre>
        <code>
if (pogoda === 'słonecznie') &#123;
  załóżOkularyPrzeciwsłoneczne()
&#125;

if (pogoda === 'deszczowo') &#123;
  zabierzParasol
&#125;
        </code>
      </pre>
    </blockquote>
  </div>
  <div class="section right-section">
    <img src="../assets/base.png" *ngIf="weather==='normal'">
    <img src="../assets/sunny.png" *ngIf="weather==='sunny'">
    <img src="../assets/rainy.png" *ngIf="weather==='rainy'">
  </div>
</div>