<div class="app">
  <div class="section left-section">
    <button (click)="setWeather('słonecznie')">Słonecznie</button>
    <button (click)="setWeather('normalnie')">Normalnie</button>
    <button (click)="setWeather('deszczowo')">Deszczowo</button>
    <blockquote>
      <pre>
        <code>
          <!-- Tutaj pokaz jak zaimplementowałeś funkcję wybierzObrazek  
          Dzięki temu wszyscy zobaczą ją na głównej stronie! -->
        </code>
      </pre>
    </blockquote>
  </div>
  <div class="section right-section">
    <img [src]="wybranyObrazek">
  </div>
</div>