.app {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.section {
    flex: 1;
}

img {
    width: 700px;
    height: 700px;
    margin: auto;
}

code {
    font-size: 30px;
}

pre {
    margin-left: 50px;
}

button {
    width: 220px;
    padding: 15px;
    border-radius: 15px;
    font-size: 24px;
    margin: 20px;
    background-color: white;
}

button:focus {
    outline: none;
}
